<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="ceabc1">  <td>17/04/18 13:24:50</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;TradeMark_Jsoup.setup()[pri:0, instance:com.aeq.trademark.TradeMark_Jsoup@4b9e255]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1825027294</td>   <td></td> </tr>
<tr bgcolor="ceabc1">  <td>17/04/18 13:24:50</td>   <td>83</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TradeMark_Jsoup.testSearchReturnsResults()[pri:0, instance:com.aeq.trademark.TradeMark_Jsoup@4b9e255]">testSearchReturnsResults</td> 
  <td>main@1825027294</td>   <td></td> </tr>
</table>
